/dist
/bin
/node_modules
/.nyc_output
/coverage
/test-cli.js
/test-commands
/*.tgz


## debug test pjson files
package-debug.json

## Fixture related
**/__tests__/**/fixture*/node_modules
**/__tests__/**/dist
**/__tests__/**/*.tgz
**/__tests__/**/package-lock.json