{
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "**/*.d.ts",
        "**/__tests__/**"
    ],
    "extension": [
        ".ts"
    ],
    "require": [
        "ts-node/register"
    ],
    "reporter": [
      "text-summary",
      "html",
      "lcov",
      "json"
    ],
    "sourceMap": false,
    "instrument": true,
    "all": true
}